@font-face {
  font-family: "Alethia Next";
  src: url("../fonts/AlethiaNext-Light.eot");
  src: local("Alethia Next Light"), local("AlethiaNext-Light"), url("../fonts/AlethiaNext-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/AlethiaNext-Light.woff2") format("woff2"), url("../fonts/AlethiaNext-Light.woff") format("woff"), url("../fonts/AlethiaNext-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0%;
  margin: 0%;
  border: 0%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  width: 100%;
  height: auto;
  background: rgb(37, 17, 67);
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  margin: 0 auto;
  max-width: 1424px;
  padding: 0 15px;
}

.block-blur {
  width: 100%;
  height: 100%;
  position: relative;
}

.ellipse-first {
  max-width: 267.521px;
  max-height: 267.521px;
  flex-shrink: 0;
  border-radius: 267.521px;
  background: #4A46FF;
  position: absolute;
  top: 240px;
  right: 320px;
  filter: blur(80px);
  z-index: -1;
  opacity: 0.25;
}

.ellipse-second {
  max-width: 153.659px;
  max-height: 153.659px;
  flex-shrink: 0;
  fill: #FFB1EE;
  position: absolute;
  top: 430px;
  left: 660px;
  filter: blur(80px);
  z-index: -1;
  opacity: 0.25;
}

.ellipse-third {
  max-width: 271.943px;
  max-height: 271.943px;
  flex-shrink: 0;
  border-radius: 271.943px;
  background: #FF00C8;
  position: absolute;
  top: 460px;
  left: 60px;
  filter: blur(80px);
  z-index: -1;
  opacity: 0.25;
}

.header__container {
  max-width: 1388px;
  padding: 50px 0 0 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
}

.header__logo {
  padding: 0 0 0 10px;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 67px;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Orbitron";
  font-size: 19.898px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0 261px 0 0;
}

.header__icons {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 0 2px 0 0;
}

.master-container__wrapper {
  display: none;
}

.menu {
  height: 100vh;
  width: 100%;
  background-color: rgb(38, 26, 84);
  z-index: 9999;
  display: none;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.menu li {
  padding-top: 3em;
  padding-bottom: 3em;
  text-decoration: none;
  list-style-type: none;
}

.menu li a {
  padding-top: 3em;
  text-decoration: none;
  color: white;
}

.master-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: rgb(36, 16, 67);
  overflow: visible;
  padding: 0 45px;
  margin-bottom: 30px;
}

.burger-menu {
  margin-top: 25px;
  cursor: pointer;
}

.bar {
  transition: 0.4s;
}

.bar-1 {
  width: 5em;
  display: block;
  width: 40px;
  border-top: 6px solid white;
  padding-top: 6px;
  cursor: pointer;
  transition: 0.4s;
}

.bar-2 {
  width: 5em;
  display: block;
  width: 20px;
  border-top: 6px solid white;
  padding-top: 5px;
  display: fixed;
  transition: 0.4s;
}

.bar-3 {
  width: 5em;
  display: block;
  width: 40px;
  border-top: 6px solid white;
  padding-top: 5px;
  transition: 0.4s;
}

.change .bar-1 {
  transform: rotate(-45deg) translate(-10px, 8px);
}

.change .bar-2 {
  opacity: 0;
}

.change .bar-3 {
  transform: rotate(45deg) translate(-10px, -5px);
}

.main-block__container {
  max-width: 100%;
  padding: 100px 0 0 0;
  display: flex;
  align-items: center;
}

.main-block {
  display: flex;
}

.left-block {
  max-width: 847.887px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: auto;
}

.left-block__title h1 {
  color: #FFF;
  font-family: "League Spartan";
  font-size: 86px;
  font-style: normal;
  font-weight: 600;
  line-height: 137.4%;
  /* 91.134px */
  letter-spacing: -0.8px;
  line-height: 92px;
  padding: 14px 0px 0 4px;
}

.mobile {
  display: none;
}

.color {
  background: linear-gradient(272deg, #43A5E3 46.06%, #FF56F6 81.53%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.left-block__text {
  padding-top: 4px;
}
.left-block__text h2 {
  color: #FFF;
  font-family: "Rajdhani", sans-serif;
  font-size: 26.531px;
  font-style: normal;
  font-weight: 400;
  line-height: 46.218px;
  opacity: 0.7;
  max-width: 657.748px;
  letter-spacing: 0px;
}

.left-block__buttons {
  display: flex;
  gap: 36px;
  padding: 20px 0 0 0;
  align-items: center;
}

.button-explore {
  -webkit-clip-path: polygon(18% 0, 100% 0, 100% 77%, 84% 100%, 0 100%, 0 28%);
          clip-path: polygon(18% 0, 100% 0, 100% 77%, 84% 100%, 0 100%, 0 28%);
  justify-content: center;
  align-items: center;
  width: 252.834px;
  height: 70.117px;
  border-radius: 5px 5px 5px 5px;
  border: solid 3px rgba(98, 84, 117, 0.7);
  background: linear-gradient(to left, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
}
.button-explore span {
  padding-left: 34px;
  color: #fff;
  font-family: "Orbitron";
  font-size: 19.898px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.button-explore img {
  padding: 6px 0 0 8px;
}

.button-create {
  width: 148.132px;
  height: 25.426px;
  background: linear-gradient(90deg, #42A6E3 2.33%, #FF56F6 101.4%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 0;
  font-family: "Orbitron";
  font-size: 19.898px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.left-block__sums {
  max-width: 479.77px;
  max-height: 69.64px;
  display: flex;
  gap: 60px;
}

.left-block__sums-column {
  padding: 90px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0px;
}

.left-block__sum {
  color: #FFF;
  font-family: "Aldrich";
  font-size: 39.797px;
  font-style: normal;
  font-weight: 400;
  /* 133.333% */
  letter-spacing: 0.221px;
}

.left-block__text {
  color: #FFF;
  font-family: "Alethia Next";
  font-size: 17.687px;
  font-style: normal;
  font-weight: 400;
  /* 125% */
  letter-spacing: 0.221px;
}

.right-block {
  padding: 30px 0 0 54px;
  position: relative;
}

.right-block__monster {
  -webkit-clip-path: polygon(23% 0, 100% 0, 100% 100%, 0 100%, 0 13%);
          clip-path: polygon(23% 0, 100% 0, 100% 100%, 0 100%, 0 13%);
  background: lightgray 50%/cover no-repeat;
  border-radius: 5px 5px 5px 5px;
}

.main-block-card {
  position: absolute;
  top: 390px;
  left: 210px;
  z-index: 1;
  width: 336.06px;
  height: 181.295px;
  border-radius: 1px 1px 1px 1px;
}
.main-block-card__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.main-block-card__wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  gap: px;
  padding: 2px 0 0px 13px;
}

.mb-card__first-column {
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding: 28px 0 0 0;
}

.mb-card__title {
  color: #FFF;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Rajdhani";
  font-size: 17.687px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  padding-left: 10px;
  /* 200% */
}

.mb-card__person {
  display: flex;
  gap: 3px;
  justify-content: center;
  align-items: center;
  padding: 3px 0px 0 7px;
}

.mb-card__person-name {
  color: #FFF;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Rajdhani";
  font-size: 15.476px;
  font-style: normal;
  font-weight: 600;
  /* 228.571% */
}

.mb-card__reserve {
  color: #FFF;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Rajdhani";
  font-size: 11.055px;
  font-style: normal;
  font-weight: 600;
  padding: 22px 0 0 10px;
  opacity: 0.7;
  /* 320% */
}

.mb-card__price {
  display: flex;
  gap: 1px;
  justify-content: center;
  padding: 8px 2px 0 0;
}

.mb-card__price-eth {
  color: #FFF;
  font-family: Orbitron;
  font-size: 9.718px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 4px;
}

.mb-card__price-dollars {
  color: var(--white-white-100, #FFF);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Rajdhani";
  font-size: 11.055px;
  font-style: normal;
  font-weight: 400;
  padding-top: 6px;
  padding-left: 4px;
  /* 320% */
  opacity: 0.7;
}

.mb-card__second-column {
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding: 38px 0 0 46px;
}

.mb-card__auction {
  color: #FFF;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Rajdhani";
  font-size: 11.055px;
  font-style: normal;
  font-weight: 600;
  padding-left: 8px;
  /* 320% */
  opacity: 0.7;
}

.mb-card__times {
  display: flex;
  gap: 22px;
  padding: 10px 0 0 2px;
}

.mb-card__time {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.mb-card__time-first-number {
  color: #FFF;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Rajdhani;
  font-size: 17.687px;
  font-style: normal;
  font-weight: 600;
  /* 200% */
}

.mb-card__time-first-text {
  color: #FFF;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Rajdhani;
  font-size: 11.055px;
  font-style: normal;
  font-weight: 500;
  /* 320% */
  opacity: 0.7;
}

.mb-card__but-place {
  padding-top: 30px;
}

.mb-card__button-place {
  width: 122.39px;
  height: 40.586px;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-family: Rajdhani;
  font-size: 17.687px;
  font-style: normal;
  font-weight: 600;
  border-radius: 2.211px;
  border: solid 3px rgba(98, 84, 117, 0.7);
  background: linear-gradient(92deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  box-shadow: 0px 4.42184px 107.22955px 0px rgba(255, 86, 246, 0.51);
  -webkit-backdrop-filter: blur(106.1240844727px);
          backdrop-filter: blur(106.1240844727px);
}
.mb-card__button-place img {
  padding: 6px 0 0 6px;
}

.logotips__container {
  max-width: 100%;
  padding: 170px 0 0 0;
}

.logotips {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  max-width: 100%;
}

.top-nft__container {
  width: 1394px;
  padding: 216px 0 0 6px;
}

.tn-card__but-explore-block {
  display: none;
}

.top-nft__title {
  display: flex;
  justify-content: space-between;
}
.top-nft__title h2 {
  color: #FFF;
  font-family: "Orbitron";
  font-size: 26.531px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.top-nft__text {
  padding: 0 15px 0 0;
  display: flex;
  gap: 17px;
}
.top-nft__text h2 {
  color: #FFF;
  font-family: "Orbitron";
  font-size: 26.531px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.swiper {
  width: 1380px;
  height: 100%;
}

.swiper-wrapper {
  width: 1380px;
  height: 100%;
}

.tn-block-card-all {
  display: flex;
  gap: 35.37px;
}

.tn-block-card {
  padding: 47px 0 0 0;
  max-width: 437px;
}

.tn-card {
  display: flex;
  width: 437.762px;
  height: 236.161px;
}
.tn-card__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.tn-card__wrapper {
  display: flex;
  position: relative;
  width: 100%;
  gap: 34px;
  padding: 0px 0 0px 14px;
  justify-content: center;
  align-items: left;
}

.tn-block-card__image {
  width: 437.762px;
}

.tn-card__first-column {
  display: flex;
  flex-direction: column;
  padding: 48px 0px 0 0px;
}
.tn-card__first-column h3 {
  color: #FFF;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Rajdhani";
  font-size: 23.04px;
  font-style: normal;
  font-weight: 700;
  /* 200% */
}
.tn-card__first-column h4 {
  color: #FFF;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Rajdhani";
  font-size: 14.4px;
  font-style: normal;
  font-weight: 600;
  /* 320% */
  opacity: 0.7;
  padding: 28px 0 0 0;
}

.tn-card__person {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 14px 20px 0 0;
}
.tn-card__person h3 {
  color: #FFF;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Rajdhani;
  font-size: 20.16px;
  font-style: normal;
  font-weight: 600;
  /* 228.571% */
}
.tn-card__price {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 12px 0px 0 0px;
}
.tn-card__price img {
  width: 25.317px;
  height: 25.317px;
}
.tn-card__price h3 {
  color: #FFF;
  font-family: Orbitron;
  font-size: 12.659px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0;
}
.tn-card__price h4 {
  color: var(--white-white-100, #FFF);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Rajdhani";
  font-size: 14.4px;
  font-style: normal;
  font-weight: 400;
  /* 320% */
  opacity: 0.7;
  padding: 0;
}

.tn-card__second-column {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 52px 0 0 0px;
}
.tn-card__second-column h3 {
  color: #FFF;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Rajdhani";
  font-size: 14.4px;
  font-style: normal;
  font-weight: 600;
  /* 320% */
  opacity: 0.7;
}

.tn-card__times {
  display: flex;
  gap: 25px;
  padding: 10px 0 0 0;
}

.tn-card__time {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.tn-card__time h3 {
  color: #FFF;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Rajdhani";
  font-size: 23.04px;
  font-style: normal;
  font-weight: 600;
  /* 200% */
  opacity: 1;
}
.tn-card__time h4 {
  color: #FFF;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Rajdhani";
  font-size: 14.4px;
  font-style: normal;
  font-weight: 500;
  /* 320% */
  opacity: 0.7;
}

.tn-card__but-place {
  padding: 36px 0px 0 0;
}
.tn-card__but-place button {
  display: flex;
  gap: 10px;
  border: 2.88px solid #FFA6FA;
  background: linear-gradient(92deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  box-shadow: 0px 5.76002px 139.68059px 0px rgba(255, 86, 246, 0.51);
  -webkit-backdrop-filter: blur(138.2405853271px);
          backdrop-filter: blur(138.2405853271px);
  width: 155.521px;
  height: 53.96px;
  justify-content: center;
  align-items: center;
}
.tn-card__but-place button h3 {
  color: #FFF;
  font-family: "Rajdhani";
  font-size: 23.04px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.tn-card__but-explore {
  justify-content: center;
  align-items: center;
  display: flex;
  background-image: url(../img/Explore-Collections-First/button-explore.svg);
  width: 133.309px;
  height: 34.212px;
  background-color: transparent;
}
.tn-card__but-explore h3 {
  color: #FFF;
  font-family: Orbitron;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.tn-card__but-explore img {
  width: 27.724px;
  height: 8.258px;
}

.exp-collect-first__container {
  width: 1394px;
}

.exp-collect-first {
  padding: 160px 0 0 0;
  display: flex;
}

.exp-col-first-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 50px 0 0 0;
}
.exp-col-first-left h2 {
  color: #FFF;
  font-family: Orbitron;
  font-size: 26.531px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.exp-col-first__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 49.75px;
  padding: 34px 0 0 0;
}
.exp-col-first__buttons button {
  width: 368.118px;
  height: 98.386px;
  border: 2.88px solid #FFA6FA;
  -webkit-backdrop-filter: blur(138.2405853271px);
          backdrop-filter: blur(138.2405853271px);
  background-color: transparent;
}
.exp-col-first__buttons button h3 {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-family: Orbitron;
  font-size: 26.531px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.exp-col-first__buttons button:hover {
  border-radius: 2.211px;
  border: 2.211px solid #FFA6FA;
  background: linear-gradient(92deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  box-shadow: 0px 4.42184px 107.22955px 0px rgba(255, 86, 246, 0.51);
  -webkit-backdrop-filter: blur(106.1240844727px);
          backdrop-filter: blur(106.1240844727px);
}
.exp-col-first__buttons button:hover h3 {
  color: #FFF;
  text-align: center;
  font-family: "Orbitron";
  font-size: 26.531px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.exp-col-first__text {
  justify-content: right;
  padding: 20px 0 0 0;
  display: flex;
  gap: 10px;
}
.exp-col-first__text h2 {
  color: #FFF;
  font-family: "Orbitron";
  font-size: 19.898px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.exp-col-first__woman {
  padding: 0 0 0 130px;
}

.exp-col-second__container {
  padding: 160px 0 0 0;
}

.exp-col-second {
  width: 1394px;
}

.exp-col-sec__title {
  display: flex;
  justify-content: space-between;
  padding-left: 8px;
}
.exp-col-sec__title h2 {
  color: #FFF;
  font-family: "Orbitron";
  font-size: 26.531px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.exp-col-sec__title .exp-col-sec__text {
  display: flex;
  padding-right: 10px;
}
.exp-col-sec__title .exp-col-sec__text h2 {
  color: #FFF;
  font-family: "Orbitron";
  font-size: 26.531px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.exp-col-sec__title .exp-col-sec__text img {
  padding-left: 20px;
}

.exp-col-sec__card-all {
  padding: 50px 0 0 0;
}

.ec-block-card {
  border: 2.88px solid rgb(121, 118, 118);
  width: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) -1.52%, rgba(255, 255, 255, 0.024) 104.35%);
  -webkit-backdrop-filter: blur(39.6002px);
  backdrop-filter: blur(39.6002px);
}

.ec-card__bg {
  width: 100%;
  height: 100%;
}

.ec-card__user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-104px);
}
.ec-card__user h3 {
  color: #FFF;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Rajdhani";
  font-size: 24.32px;
  font-style: normal;
  font-weight: 500;
  /* 189.474% */
}
.ec-card__user-face-img {
  width: 162.503px;
  height: 162.503px;
}

.en-card__user-login {
  display: flex;
  padding: 10px 0 0 19px;
  gap: 5px;
  justify-content: center;
}
.en-card__user-login h4 {
  color: #FFB1EE;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Rajdhani";
  font-size: 20.16px;
  font-style: normal;
  font-weight: 400;
  /* 228.571% */
}

.ec-card__numbers {
  display: flex;
  padding: 38px 0 0 0;
  gap: 70px;
}

.ec-card__number {
  display: flex;
  flex-direction: column;
}
.ec-card__number h3 {
  color: #FFF;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Rajdhani";
  font-size: 31.69px;
  font-style: normal;
  font-weight: 600;
  /* 200% */
}
.ec-card__number h4 {
  padding: 4px 0 0 0;
  color: #FFF;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Rajdhani";
  font-size: 19.806px;
  font-style: normal;
  font-weight: 500;
  /* 320% */
}

.ec-card__but-follow {
  justify-content: center;
  align-items: center;
  padding: 42px 0 0 8px;
}
.ec-card__but-follow button {
  width: 234.84px;
  height: 50.851px;
  border: 2.409px solid #FFA6FA;
  background: linear-gradient(92deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  box-shadow: 0px 4.81747px 116.82378px 0px rgba(255, 86, 246, 0.51);
  -webkit-backdrop-filter: blur(115.6194000244px);
          backdrop-filter: blur(115.6194000244px);
}
.ec-card__but-follow button h3 {
  color: #FFF;
  text-align: center;
  font-family: "Rajdhani";
  font-size: 19.898px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media (max-width: 1440px) {
  .container {
    width: 100%;
    max-width: 1310px;
  }
  .logo {
    padding: 10px;
  }
  .main-block-card {
    left: 140px;
  }
  .top-nft__title {
    width: 100%;
    max-width: 1310px;
  }
  .top-nft__container {
    width: 100%;
    max-width: 1310px;
  }
  .tn-card__but-explore-block {
    display: none;
  }
  .exp-col-second__container {
    width: 100%;
    max-width: 1310px;
  }
  .exp-col-second {
    width: 100%;
    max-width: 1310px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    max-width: 728px;
  }
  .header__container {
    display: none;
  }
  .master-container__wrapper {
    display: block;
  }
  .block-blur {
    width: 324px;
    display: none;
  }
  .logotips {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    align-items: center;
    justify-content: center;
  }
  .right-block {
    position: absolute;
    top: 1162px;
    right: 180px;
  }
  .main-block-card {
    left: 210px;
  }
  .top-nft__container {
    padding-top: 668px;
  }
  .tn-card__but-explore-block {
    display: none;
  }
  .tn-card__first-column h3 {
    font-size: 18px;
  }
  .exp-collect-first__container {
    width: 698px;
  }
  .exp-collect-first {
    width: 698px;
    display: flex;
    flex-direction: column;
  }
  .exp-col-first__buttons {
    grid-template-columns: repeat(2, 0fr);
    gap: 25px;
    align-items: center;
    justify-content: center;
  }
  .exp-col-first__buttons button {
    width: 240.517px;
    height: 60.763px;
  }
  .exp-col-first__buttons button h3 {
    font-size: 16.992px;
  }
  .exp-col-first__buttons button:hover {
    width: 152.517px;
    height: 40.763px;
  }
  .exp-col-first__buttons button:hover h3 {
    font-size: 10.992px;
  }
}
@media (max-width: 375px) {
  .body {
    width: 100%;
  }
  .master-container {
    padding: 0 25px;
  }
  .container {
    width: 375px;
    height: auto;
    padding: 0 0 0 23px;
  }
  .block-blur {
    width: 324px;
    display: none;
  }
  .header__container {
    width: 330px;
    padding: 24px 0 0 0;
  }
  .header {
    width: 330px;
    height: auto;
  }
  .header__logo {
    padding: 0 8px 0 0px;
  }
  .header__container {
    display: none;
  }
  .main-block__container {
    padding: 18px 0 10px 0;
  }
  .main-block-logitips__container {
    position: relative;
    width: 350px;
    height: auto;
  }
  .main-block {
    width: 350px;
    height: auto;
  }
  .left-block__title h1 {
    color: #FFF;
    font-family: "Lato";
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 137.4%;
    padding: 0 0 0 8px;
    letter-spacing: 0px;
  }
  .left-block__title h1 .color {
    background: linear-gradient(272deg, #43A5E3 46.06%, #FF56F6 81.53%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .mobile {
    display: block;
  }
  .left-block__text h2 {
    color: #FFF;
    font-family: "Rajdhani", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.218px;
    padding: 7px 0 0 8px;
    opacity: 0.7;
    /* 165.845% */
  }
  .left-block__buttons {
    align-items: center;
    display: flex;
    gap: 0px;
    padding: 14px 0 0 7px;
  }
  .button-explore {
    width: 137.309px;
    height: 38.212px;
    fill: linear-gradient(92deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
    stroke-width: 1.18px;
    stroke: #FFA6FA;
    filter: drop-shadow(0px 2.3594470024px 57.216594696px rgba(255, 86, 246, 0.51));
    -webkit-backdrop-filter: blur(56.6267318726px);
            backdrop-filter: blur(56.6267318726px);
    padding-left: 6px;
    border-radius: 0;
  }
  .button-explore span {
    color: #FFF;
    font-family: Orbitron;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 0;
  }
  .button-explore img {
    width: 27.724px;
    height: 18.258px;
    padding: 0 0px 0px 0px;
  }
  .button-create {
    padding: 0 26px 32px 0;
  }
  .button-create span {
    font-family: Orbitron;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .left-block__sums {
    width: 330px;
    gap: 55px;
  }
  .left-block__sum {
    color: #FFF;
    font-family: Aldrich;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    /* 157.296% */
    letter-spacing: 0.118px;
  }
  .left-block__sums-column {
    padding: 24px 0 0px 10px;
    gap: 6px;
  }
  .left-block__text {
    color: rgba(255, 255, 255, 0.6);
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    /* 98.31% */
    letter-spacing: 0.118px;
  }
  .right-block {
    position: absolute;
    top: 662px;
    right: 26px;
  }
  .main-block-card {
    top: 366px;
    left: 54px;
    z-index: 1;
    width: 324px;
    height: 174.789px;
    display: flex;
  }
  .main-block-card__wrapper {
    gap: 0px;
  }
  .mb-card__second-column {
    padding: 38px 0px 0 18px;
    gap: 0;
    align-items: center;
  }
  .mb-card__auction {
    padding: 0 8px 0 0;
  }
  .mb-card__times {
    padding: 8px 0 0 22px;
    gap: 18px;
  }
  .mb-card__but-place {
    padding: 28px 0px 0 20px;
  }
  .logotips__container {
    height: auto;
    padding: 20px 0 0px 0;
  }
  .logotips {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    align-items: center;
    justify-content: center;
  }
  .logo {
    padding: 0 0 0 0px;
  }
  .logo__first {
    width: 143.077px;
    height: 28.615px;
  }
  .logo__second {
    width: 91.607px;
    height: 28.269px;
  }
  .logo__third {
    width: 165.09px;
    height: 27.193px;
  }
  .logo__fourth {
    width: 105.914px;
    height: 16.917px;
  }
  .top-nft__container {
    width: 100%;
    height: auto;
    padding: 668px 0 0 2px;
    overflow: visible;
  }
  .tn-card__but-explore-block {
    display: block;
  }
  .tn-block-card__image {
    width: 303.971px;
    height: 267.126px;
  }
  .tn-card__bg {
    width: 303.971px;
    height: 163.985px;
  }
  .top-nft__title h2 {
    padding: 16px 0 0 0;
    width: 169.388px;
    height: 23.526px;
    font-size: 16px;
  }
  .top-nft__text {
    display: none;
  }
  .tn-block-card-all {
    overflow: visible;
  }
  .swiper {
    overflow: visible;
  }
  .swiper-wrapper {
    width: 354px;
    overflow: visible;
  }
  .swiper-slide {
    overflow: visible;
  }
  .tn-card {
    width: 303.971px;
    height: 163.985px;
  }
  .tn-card__wrapper {
    gap: 5px;
    justify-content: left;
    height: 20px;
  }
  .tn-card__first-column {
    padding: 35px 0 0 8px;
  }
  .tn-card__first-column h3 {
    font-size: 13.601px;
  }
  .tn-card__first-column h4 {
    padding: 20px 0 0 0;
    font-size: 8.5px;
  }
  .tn-card__person {
    padding: 12px 0 0px 0;
    gap: 6px;
  }
  .tn-card__person h3 {
    padding: 0 0 0 1px;
    font-size: 11.901px;
  }
  .tn-card__person-face {
    width: 25.998px;
    height: 25.998px;
  }
  .tn-card__person-check {
    width: 10.999px;
    height: 11.999px;
  }
  .tn-card__price {
    padding: 8px 14px 0px 0;
    gap: 6px;
  }
  .tn-card__price img {
    width: 17.58px;
    height: 17.58px;
  }
  .tn-card__price h3 {
    padding: 0px;
    font-size: 7.472px;
  }
  .tn-card__price h4 {
    padding: 4px 0 0 0;
    font-size: 8.5px;
  }
  .tn-card__second-column {
    padding: 37px 0 0 0px;
    gap: 0;
    align-items: center;
  }
  .tn-card__second-column h3 {
    font-size: 8.5px;
  }
  .tn-card__times {
    padding: 0 0 0 26px;
    gap: 14px;
  }
  .tn-card__time {
    padding: 12px 0 0 10px;
  }
  .tn-card__time h3 {
    font-size: 13.601px;
  }
  .tn-card__time h4 {
    font-size: 8.5px;
  }
  .tn-card__but-place {
    padding: 30px 0 0 30px;
  }
  .tn-card__but-place button {
    width: 107.99px;
    height: 33.997px;
  }
  .tn-card__but-place button h3 {
    font-size: 13.601px;
    color: #FFF;
  }
  .tn-card__but-place button img {
    width: 21.998px;
    height: 8.34px;
  }
  .exp-collect-first__container {
    padding: 0 0 0 2px;
    width: 324px;
  }
  .exp-collect-first {
    padding: 28px 0 0 0px;
    display: flex;
    flex-direction: column;
    width: 324px;
  }
  .exp-col-first-left h2 {
    padding-left: 5px;
    font-size: 16px;
  }
  .exp-col-first__buttons {
    padding: 12px 0px 0 0;
    gap: 18px;
    width: 324px;
  }
  .exp-col-first__buttons button {
    width: 154.517px;
    height: 40.763px;
  }
  .exp-col-first__buttons button h3 {
    font-size: 10.992px;
  }
  .exp-col-first__buttons button:hover {
    width: 152.517px;
    height: 40.763px;
  }
  .exp-col-first__buttons button:hover h3 {
    font-size: 10.992px;
  }
  .exp-col-first__text {
    padding: 10px 0 0 10px;
  }
  .exp-col-first__text h2 {
    font-size: 8.244px;
  }
  .exp-col-first__text img {
    width: 21.526px;
    height: 6.412px;
  }
  .exp-col-first__woman {
    padding: 0 0 0 70px;
  }
  .exp-col-second__container {
    width: 330px;
  }
}/*# sourceMappingURL=style.css.map */