@font-face {
  font-family: "Alethia Next";
  src: url("../fonts/AlethiaNext-Light.eot");
  src: local("Alethia Next Light"), local("AlethiaNext-Light"), url("../fonts/AlethiaNext-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/AlethiaNext-Light.woff2") format("woff2"), url("../fonts/AlethiaNext-Light.woff") format("woff"), url("../fonts/AlethiaNext-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0%;
  margin: 0%;
  border: 0%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  width: 100%;
  height: auto;
  background: rgb(34, 13, 60);
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  margin: 0 auto;
  width: 1394px;
}

.block-blur {
  width: 100%;
  height: 100%;
  position: relative;
}

.ellipse-first {
  width: 267.521px;
  height: 267.521px;
  flex-shrink: 0;
  border-radius: 267.521px;
  background: #4A46FF;
  position: absolute;
  top: 240px;
  left: 1000px;
  filter: blur(80px);
  z-index: -1;
  opacity: 0.25;
}

.ellipse-second {
  width: 153.659px;
  height: 153.659px;
  flex-shrink: 0;
  fill: #FFB1EE;
  position: absolute;
  top: 430px;
  left: 660px;
  filter: blur(80px);
  z-index: -1;
  opacity: 0.25;
}

.ellipse-third {
  width: 271.943px;
  height: 271.943px;
  flex-shrink: 0;
  border-radius: 271.943px;
  background: #FF00C8;
  position: absolute;
  top: 460px;
  left: 60px;
  filter: blur(80px);
  z-index: -1;
  opacity: 0.25;
}

.header__container {
  width: 1388px;
  padding: 58px 0 0 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  padding: 0 0 0 8px;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 67px;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Orbitron";
  font-size: 19.898px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0 261px 0 0;
}

.header__icons {
  display: flex;
  align-items: center;
  gap: 40px;
}

.main-block__container {
  width: 100%;
  padding: 100px 0 0 0;
  display: flex;
  align-items: center;
}

.main-block {
  display: flex;
}

.left-block {
  width: 847.887px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.left-block__title h1 {
  color: #FFF;
  font-family: "League Spartan";
  font-size: 86px;
  font-style: normal;
  font-weight: 600;
  line-height: 137.4%;
  /* 91.134px */
  letter-spacing: 0px;
  line-height: 96px;
  padding: 12px 0 0 0;
}

.color {
  background: linear-gradient(272deg, #43A5E3 46.06%, #FF56F6 81.53%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.left-block__text h2 {
  color: #FFF;
  font-family: "  Rajdhani", sans-serif;
  font-size: 26.531px;
  font-style: normal;
  font-weight: 400;
  line-height: 44.218px;
}

.left-block__buttons {
  display: flex;
  gap: 36px;
  padding: 20px 0 0 0;
  align-items: center;
}

.button-explore {
  width: 249.834px;
  height: 64.117px;
  border-radius: 50px 0 50px 0;
  justify-content: center;
  align-items: center;
  background: linear-gradient(92deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
}
.button-explore span {
  color: #fff;
  font-family: "Orbitron";
  font-size: 19.898px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.button-explore img {
  padding: 6px 0 0 4px;
}

.button-create {
  width: 148.132px;
  height: 25.426px;
  background: linear-gradient(90deg, #42A6E3 2.33%, #FF56F6 101.4%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 0;
  font-family: "Orbitron";
  font-size: 19.898px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.left-block__sums {
  display: flex;
  gap: 60px;
  padding: 54px 0 0 0;
}

.left-block__sums-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-block__sum {
  color: #FFF;
  font-family: "Aldrich";
  font-size: 39.797px;
  font-style: normal;
  font-weight: 400;
  line-height: 53.062px;
  /* 133.333% */
  letter-spacing: 0.221px;
}

.left-block__text {
  color: #FFF;
  font-family: "Alethia Next";
  font-size: 17.687px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.109px;
  /* 125% */
  letter-spacing: 0.221px;
}

.right-block {
  padding: 30px 0 0 50px;
  position: relative;
}

.right-block__monster {
  background: lightgray 50%/cover no-repeat;
  border-radius: 150px 20px 20px 20px;
  box-shadow: 1px 1px 10px 1px;
}

.main-block-card {
  position: absolute;
  top: 400px;
  left: 200px;
  z-index: 1;
  width: 336.06px;
  border: solid 1px #fff;
  fill: linear-gradient(90deg, rgba(255, 255, 255, 0.1) -1.52%, rgba(255, 255, 255, 0.02) 104.35%);
  stroke-width: 2.211px;
  stroke: rgba(255, 255, 255, 0.28);
  -webkit-backdrop-filter: blur(30.4001274109px);
          backdrop-filter: blur(30.4001274109px);
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.mb-card__first-column {
  display: flex;
  flex-direction: column;
  gap: 3x;
  justify-content: center;
}

.mb-card__title {
  color: #FFF;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Rajdhani;
  font-size: 17.687px;
  font-style: normal;
  font-weight: 700;
  line-height: 35.375px;
  /* 200% */
}

.mb-card__person {
  display: flex;
  gap: 3px;
}

.mb-card__person-name {
  color: #FFF;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Rajdhani;
  font-size: 15.476px;
  font-style: normal;
  font-weight: 600;
  line-height: 35.375px;
  /* 228.571% */
}

.mb-card__person-check {
  padding: 10px 0 0 0;
}

.mb-card__reserve {
  color: #FFF;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Rajdhani;
  font-size: 11.055px;
  font-style: normal;
  font-weight: 600;
  line-height: 35.375px;
  /* 320% */
}

.mb-card__price {
  display: flex;
  gap: 3px;
}

.mb-card__price-eth {
  color: #FFF;
  font-family: Orbitron;
  font-size: 9.718px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.mb-card__price-dollars {
  color: var(--white-white-100, #FFF);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Rajdhani;
  font-size: 11.055px;
  font-style: normal;
  font-weight: 400;
  line-height: 15.375px;
  /* 320% */
  opacity: 0.7;
}

.mb-card__second-column {
  display: flex;
  flex-direction: column;
  gap: 3px;
  justify-content: center;
}

.mb-card__auction {
  color: #FFF;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Rajdhani;
  font-size: 11.055px;
  font-style: normal;
  font-weight: 600;
  line-height: 35.375px;
  /* 320% */
  opacity: 0.7;
}

.mb-card__times {
  display: flex;
  gap: 3px;
}

.mb-card__time {
  display: flex;
  flex-direction: column;
}

.mb-card__time-first-number {
  color: #FFF;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Rajdhani;
  font-size: 17.687px;
  font-style: normal;
  font-weight: 600;
  line-height: 3.375px;
  /* 200% */
}

.mb-card__time-first-text {
  color: #FFF;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Rajdhani;
  font-size: 11.055px;
  font-style: normal;
  font-weight: 500;
  line-height: 35.375px;
  /* 320% */
  opacity: 0.7;
}

.mb-card__button-place {
  width: 119.39px;
  height: 37.586px;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-family: Rajdhani;
  font-size: 17.687px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 2.211px;
  border: 2.211px solid #FFA6FA;
  background: linear-gradient(92deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  box-shadow: 0px 4.42184px 107.22955px 0px rgba(255, 86, 246, 0.51);
  -webkit-backdrop-filter: blur(106.1240844727px);
          backdrop-filter: blur(106.1240844727px);
}
.mb-card__button-place img {
  padding: 6px 0 0 4px;
}

.logotips__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 0 0 0;
}

.logotips {
  display: flex;
  gap: 134px;
}

.top-nft__container {
  width: 1394px;
  padding: 220px 0 0 0;
}

.top-nft__title {
  display: flex;
  justify-content: space-between;
}
.top-nft__title h2 {
  color: #FFF;
  font-family: Orbitron;
  font-size: 26.531px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.top-nft__text {
  padding: 0 15px 0 0;
  display: flex;
  gap: 17px;
}
.top-nft__text h2 {
  color: #FFF;
  font-family: Orbitron;
  font-size: 26.531px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.swiper {
  width: 1394px;
  height: 100%;
}

.tn-block-card-all {
  display: flex;
  gap: 35.37px;
}

.tn-block-card {
  padding: 47px 0 0 0;
}

.tn-card {
  display: flex;
  gap: 50px;
  border: solid 1px #fff;
  width: 437.762px;
  height: 236.161px;
  fill: linear-gradient(90deg, rgba(255, 255, 255, 0.1) -1.52%, rgba(255, 255, 255, 0.02) 104.35%);
  stroke-width: 2.88px;
  stroke: rgba(255, 255, 255, 0.28);
  justify-content: center;
  align-items: left;
}

.tn-card__first-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tn-card__first-column h3 {
  color: #FFF;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Rajdhani;
  font-size: 23.04px;
  font-style: normal;
  font-weight: 700;
  line-height: 46.08px;
  /* 200% */
}
.tn-card__first-column h4 {
  color: #FFF;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Rajdhani;
  font-size: 14.4px;
  font-style: normal;
  font-weight: 600;
  line-height: 46.08px;
  /* 320% */
  opacity: 0.7;
}

.tn-card__person {
  display: flex;
}
.tn-card__person h3 {
  color: #FFF;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Rajdhani;
  font-size: 20.16px;
  font-style: normal;
  font-weight: 600;
  line-height: 46.08px;
  /* 228.571% */
}

.mb-card__price {
  display: flex;
  align-items: center;
}
.mb-card__price h3 {
  color: #FFF;
  font-family: Orbitron;
  font-size: 12.659px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.mb-card__price h4 {
  color: var(--white-white-100, #FFF);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Rajdhani;
  font-size: 14.4px;
  font-style: normal;
  font-weight: 400;
  line-height: 46.08px;
  /* 320% */
  opacity: 0.7;
}

.tn-card__second-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}
.tn-card__second-column h3 {
  color: #FFF;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Rajdhani;
  font-size: 14.4px;
  font-style: normal;
  font-weight: 600;
  line-height: 46.08px;
  /* 320% */
  opacity: 0.7;
}

.tn-card__times {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.tn-card__time h3 {
  color: #FFF;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Rajdhani;
  font-size: 23.04px;
  font-style: normal;
  font-weight: 600;
  line-height: 46.08px;
  /* 200% */
  opacity: 1;
}
.tn-card__time h4 {
  color: #FFF;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Rajdhani;
  font-size: 14.4px;
  font-style: normal;
  font-weight: 500;
  line-height: 46.08px;
  /* 320% */
  opacity: 0.7;
}

.tn-card__but-place {
  display: flex;
}
.tn-card__but-place button {
  border: 2.88px solid #FFA6FA;
  background: linear-gradient(92deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  box-shadow: 0px 5.76002px 139.68059px 0px rgba(255, 86, 246, 0.51);
  -webkit-backdrop-filter: blur(138.2405853271px);
          backdrop-filter: blur(138.2405853271px);
  width: 155.521px;
  height: 48.96px;
  justify-content: center;
  align-items: center;
}
.tn-card__but-place button h3 {
  color: #FFF;
  font-family: Rajdhani;
  font-size: 23.04px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.exp-collect-first__container {
  width: 1394px;
}

.exp-collect-first {
  padding: 160px 0 0 0;
  display: flex;
}

.exp-col-first-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 50px 0 0 0;
}
.exp-col-first-left h2 {
  color: #FFF;
  font-family: Orbitron;
  font-size: 26.531px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.exp-col-first__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 49.75px;
  padding: 34px 0 0 0;
}
.exp-col-first__buttons button {
  width: 368.118px;
  height: 98.386px;
  border: 2.88px solid #FFA6FA;
  box-shadow: 0px 5.76002px 139.68059px 0px rgba(255, 86, 246, 0.51);
  -webkit-backdrop-filter: blur(138.2405853271px);
          backdrop-filter: blur(138.2405853271px);
  background-color: transparent;
}
.exp-col-first__buttons button h3 {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-family: Orbitron;
  font-size: 26.531px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.exp-col-first__buttons button:hover {
  border-radius: 2.211px;
  border: 2.211px solid #FFA6FA;
  background: linear-gradient(92deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  box-shadow: 0px 4.42184px 107.22955px 0px rgba(255, 86, 246, 0.51);
  -webkit-backdrop-filter: blur(106.1240844727px);
          backdrop-filter: blur(106.1240844727px);
}
.exp-col-first__buttons button:hover h3 {
  color: #FFF;
  text-align: center;
  font-family: Orbitron;
  font-size: 26.531px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.exp-col-first__text {
  justify-content: right;
  padding: 20px 0 0 0;
  display: flex;
  gap: 10px;
}
.exp-col-first__text h2 {
  color: #FFF;
  font-family: Orbitron;
  font-size: 19.898px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.exp-col-first__woman {
  padding: 0 0 0 130px;
}/*# sourceMappingURL=style.css.map */