@font-face {
  font-family: "Alethia Next";
  src: url("../fonts/AlethiaNext-Light.eot");
  src: local("Alethia Next Light"), local("AlethiaNext-Light"), url("../fonts/AlethiaNext-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/AlethiaNext-Light.woff2") format("woff2"), url("../fonts/AlethiaNext-Light.woff") format("woff"), url("../fonts/AlethiaNext-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0%;
  margin: 0%;
  border: 0%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  width: 100%;
  height: auto;
  background: rgb(34, 13, 60);
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  margin: 0 auto;
  width: 1394px;
}

.block-blur {
  width: 100%;
  height: 100%;
  position: relative;
}

.ellipse-first {
  width: 267.521px;
  height: 267.521px;
  flex-shrink: 0;
  border-radius: 267.521px;
  background: #4A46FF;
  position: absolute;
  top: 240px;
  left: 1000px;
  filter: blur(80px);
  z-index: -1;
  opacity: 0.25;
}

.ellipse-second {
  width: 153.659px;
  height: 153.659px;
  flex-shrink: 0;
  fill: #FFB1EE;
  position: absolute;
  top: 430px;
  left: 660px;
  filter: blur(80px);
  z-index: -1;
  opacity: 0.25;
}

.ellipse-third {
  width: 271.943px;
  height: 271.943px;
  flex-shrink: 0;
  border-radius: 271.943px;
  background: #FF00C8;
  position: absolute;
  top: 460px;
  left: 60px;
  filter: blur(80px);
  z-index: -1;
  opacity: 0.25;
}

.header__container {
  width: 1388px;
  padding: 58px 0 0 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
}

.header__logo {
  padding: 0 0 0 8px;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 67px;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Orbitron";
  font-size: 19.898px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0 261px 0 0;
}

.header__icons {
  display: flex;
  align-items: center;
  gap: 40px;
}

.main-block__container {
  width: 100%;
  padding: 100px 0 0 0;
  display: flex;
  align-items: center;
}

.main-block {
  display: flex;
}

.left-block {
  width: 847.887px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: auto;
}

.left-block__title h1 {
  color: #FFF;
  font-family: "League Spartan";
  font-size: 86px;
  font-style: normal;
  font-weight: 600;
  line-height: 137.4%;
  /* 91.134px */
  letter-spacing: 0px;
  line-height: 96px;
  padding: 12px 0 0 0;
}

.mobile {
  display: none;
}

.color {
  background: linear-gradient(272deg, #43A5E3 46.06%, #FF56F6 81.53%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.left-block__text h2 {
  color: #FFF;
  font-family: "  Rajdhani", sans-serif;
  font-size: 26.531px;
  font-style: normal;
  font-weight: 400;
  line-height: 44.218px;
}

.left-block__buttons {
  display: flex;
  gap: 36px;
  padding: 16px 0 0 0;
  align-items: center;
}

.button-explore {
  -webkit-clip-path: polygon(18% 0, 100% 0, 100% 72%, 84% 100%, 0 100%, 0 23%);
          clip-path: polygon(18% 0, 100% 0, 100% 72%, 84% 100%, 0 100%, 0 23%);
  justify-content: center;
  align-items: center;
  width: 249.834px;
  height: 67.117px;
  border-radius: 10px 10px 10px 10px;
  background: linear-gradient(92deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
}
.button-explore span {
  color: #fff;
  font-family: "Orbitron";
  font-size: 19.898px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.button-explore img {
  padding: 6px 0 0 4px;
}

.button-create {
  width: 148.132px;
  height: 25.426px;
  background: linear-gradient(90deg, #42A6E3 2.33%, #FF56F6 101.4%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 0;
  font-family: "Orbitron";
  font-size: 19.898px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.left-block__sums {
  display: flex;
  gap: 60px;
  padding: 54px 0 0 0;
}

.left-block__sums-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-block__sum {
  color: #FFF;
  font-family: "Aldrich";
  font-size: 39.797px;
  font-style: normal;
  font-weight: 400;
  line-height: 53.062px;
  /* 133.333% */
  letter-spacing: 0.221px;
}

.left-block__text {
  color: #FFF;
  font-family: "Alethia Next";
  font-size: 17.687px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.109px;
  /* 125% */
  letter-spacing: 0.221px;
}

.right-block {
  padding: 30px 0 0 50px;
  position: relative;
}

.right-block__monster {
  -webkit-clip-path: polygon(22% 0, 100% 0, 100% 100%, 0 100%, 0 15%);
          clip-path: polygon(22% 0, 100% 0, 100% 100%, 0 100%, 0 15%);
  background: lightgray 50%/cover no-repeat;
  box-shadow: 1px 1px 10px 1px;
  border-radius: 30px 30px 30px 30px;
}

.main-block-card {
  position: absolute;
  top: 400px;
  left: 200px;
  z-index: 1;
  width: 336.06px;
  border: solid 0px #fff;
  fill: linear-gradient(90deg, rgba(255, 255, 255, 0.1) -1.52%, rgba(255, 255, 255, 0.02) 104.35%);
  stroke-width: 2.211px;
  stroke: rgba(255, 255, 255, 0.28);
  -webkit-backdrop-filter: blur(30.4001274109px);
          backdrop-filter: blur(30.4001274109px);
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  -webkit-clip-path: polygon(18% 0, 100% 0, 100% 100%, 0 100%, 0 23%);
          clip-path: polygon(18% 0, 100% 0, 100% 100%, 0 100%, 0 23%);
}

.mb-card__first-column {
  display: flex;
  flex-direction: column;
  gap: 3x;
  justify-content: center;
}

.mb-card__title {
  color: #FFF;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Rajdhani;
  font-size: 17.687px;
  font-style: normal;
  font-weight: 700;
  line-height: 35.375px;
  /* 200% */
}

.mb-card__person {
  display: flex;
  gap: 3px;
}

.mb-card__person-name {
  color: #FFF;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Rajdhani;
  font-size: 15.476px;
  font-style: normal;
  font-weight: 600;
  line-height: 35.375px;
  /* 228.571% */
}

.mb-card__person-check {
  padding: 10px 0 0 0;
}

.mb-card__reserve {
  color: #FFF;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Rajdhani;
  font-size: 11.055px;
  font-style: normal;
  font-weight: 600;
  line-height: 35.375px;
  /* 320% */
}

.mb-card__price {
  display: flex;
  gap: 3px;
}

.mb-card__price-eth {
  color: #FFF;
  font-family: Orbitron;
  font-size: 9.718px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.mb-card__price-dollars {
  color: var(--white-white-100, #FFF);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Rajdhani;
  font-size: 11.055px;
  font-style: normal;
  font-weight: 400;
  line-height: 15.375px;
  /* 320% */
  opacity: 0.7;
}

.mb-card__second-column {
  display: flex;
  flex-direction: column;
  gap: 3px;
  justify-content: center;
}

.mb-card__auction {
  color: #FFF;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Rajdhani;
  font-size: 11.055px;
  font-style: normal;
  font-weight: 600;
  line-height: 35.375px;
  /* 320% */
  opacity: 0.7;
}

.mb-card__times {
  display: flex;
  gap: 3px;
}

.mb-card__time {
  display: flex;
  flex-direction: column;
}

.mb-card__time-first-number {
  color: #FFF;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Rajdhani;
  font-size: 17.687px;
  font-style: normal;
  font-weight: 600;
  line-height: 3.375px;
  /* 200% */
}

.mb-card__time-first-text {
  color: #FFF;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Rajdhani;
  font-size: 11.055px;
  font-style: normal;
  font-weight: 500;
  line-height: 35.375px;
  /* 320% */
  opacity: 0.7;
}

.mb-card__button-place {
  width: 119.39px;
  height: 37.586px;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-family: Rajdhani;
  font-size: 17.687px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 2.211px;
  border: 2.211px solid #FFA6FA;
  background: linear-gradient(92deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  box-shadow: 0px 4.42184px 107.22955px 0px rgba(255, 86, 246, 0.51);
  -webkit-backdrop-filter: blur(106.1240844727px);
          backdrop-filter: blur(106.1240844727px);
}
.mb-card__button-place img {
  padding: 6px 0 0 4px;
}

.logotips__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 0 0 0;
}

.logotips {
  display: flex;
  gap: 134px;
}

@media (max-width: 375px) {
  .body {
    width: 375px;
  }
  .container {
    width: 330px;
    height: auto;
  }
  .block-blur {
    width: 324px;
    display: none;
  }
  .header__container {
    width: 330px;
    padding: 24px 0 0 0;
  }
  .header {
    width: 330px;
    height: auto;
  }
  .header__logo {
    padding: 0 8px 0 0px;
  }
  .header__menu, .header__icons {
    display: none;
  }
  .main-block-logitips__container {
    position: relative;
    width: 350px;
    height: auto;
    bottom: 1000px;
  }
  .main-block {
    width: 350px;
    height: auto;
  }
  .left-block__title h1 {
    color: #FFF;
    font-family: "Lato";
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 137.4%;
    padding: 0 0 0 8px;
  }
  .left-block__title h1 .color {
    background: linear-gradient(272deg, #43A5E3 46.06%, #FF56F6 81.53%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .mobile {
    display: block;
  }
  .left-block__text h2 {
    color: #FFF;
    font-family: "Rajdhani", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.218px;
    padding: 13px 0 0 8px;
    opacity: 0.7;
    /* 165.845% */
  }
  .left-block__buttons {
    align-items: center;
    display: flex;
    gap: 0px;
    padding: 16px 0 0 10px;
  }
  .button-explore {
    width: 137.309px;
    height: 38.212px;
    fill: linear-gradient(92deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
    stroke-width: 1.18px;
    stroke: #FFA6FA;
    filter: drop-shadow(0px 2.3594470024px 57.216594696px rgba(255, 86, 246, 0.51));
    -webkit-backdrop-filter: blur(56.6267318726px);
            backdrop-filter: blur(56.6267318726px);
  }
  .button-explore span {
    color: #FFF;
    font-family: Orbitron;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .button-explore img {
    width: 27.724px;
    height: 18.258px;
    padding: 0 0 4px 0;
  }
  .button-create span {
    font-family: Orbitron;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .left-block__sums {
    width: 330px;
    gap: 66px;
    padding: 0 0 0 10px;
  }
  .left-block__sum {
    color: #FFF;
    font-family: Aldrich;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.313px;
    /* 157.296% */
    letter-spacing: 0.118px;
    padding: 22px 0 0 0;
  }
  .left-block__sums-column {
    gap: 4px;
  }
  .left-block__text {
    color: rgba(255, 255, 255, 0.6);
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 11.797px;
    /* 98.31% */
    letter-spacing: 0.118px;
  }
  .right-block {
    position: absolute;
    top: 662px;
    right: 26px;
  }
  .main-block-card {
    top: 366px;
    left: 50px;
    z-index: 1;
    width: 324px;
    height: 174.789px;
    border: solid 1px #fff;
    fill: linear-gradient(90deg, rgba(255, 255, 255, 0.1) -1.52%, rgba(255, 255, 255, 0.02) 104.35%);
    stroke-width: 2.211px;
    stroke: rgba(255, 255, 255, 0.28);
    -webkit-backdrop-filter: blur(30.4001274109px);
            backdrop-filter: blur(30.4001274109px);
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  .logotips__container {
    height: auto;
    padding: 20px 0 0px 0;
  }
  .logotips {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    align-items: center;
    justify-content: center;
  }
  .logo__first {
    width: 143.077px;
    height: 28.615px;
  }
  .logo__second {
    width: 91.607px;
    height: 28.269px;
  }
  .logo__third {
    width: 165.09px;
    height: 27.193px;
  }
  .logo__fourth {
    width: 105.914px;
    height: 16.917px;
  }
}/*# sourceMappingURL=style.css.map */